:root {
  --yellow: #FBA720;
}

html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(rgb(237, 203, 253), rgb(200, 138, 207));
  margin: 0 10vw;
}

p {
  font-size: 20px;
  text-align: justify;
}

#img-logomarca {
  display: block;
  margin: auto;
}

.curiosidade {
  background-image: url('imgs/favo-de-mel.png');
  border: 1px solid var(--yellow);
  border-radius: 8px;
  padding: 20px;
}

.curiosidade img {
  float: left;
  margin-right: 20px;
}

.casta-de-abelha {
  border-radius: 50%;
  border: 5px double var(--yellow);
  shape-outside: circle(50%);
}

.casta-de-abelha.esquerda {
  float: left;
  margin-right: 20px;
}

.casta-de-abelha.direita {
  float: right;
  margin-left: 20px;
}

#header {
  background-color: rgba(255, 255, 255, 0.164);
  box-shadow: 4px 4px 4px #0003;
  padding: 30px;
}
