html, body {
  height: 100%;
}

body {
  background-image: linear-gradient(rgb(237, 203, 253), rgb(200, 138, 207));
  margin: 0 10vw;
}

* {
  font-size: 20px;
  text-align: justify;
}

#img-logomarca {
  display: block;
  margin: auto;
}

.curiosidade {
  background-image: url('imgs/favo-de-mel.png');
  border: 1px solid #FBA720;
  border-radius: 8px;
  padding: 20px;
}

.curiosidade img {
  float: left;
  margin-right: 20px;
}
